<h1>Add a course</h1>

<p>Add a course here:</p>

<form action="/courses" method="post">
  <label for="name">course name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add course</button>
</form>
